body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#board-container{
  display: flex;
  flex-flow: row wrap;
  width: 305px;
  height: 305px;
}

#board-container div{

  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
#tl,#tm,#ml,#mm{
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}
#tr,#mr{
  border-bottom: 1px black solid;
}
#bm{
  border-left:  1px black solid;
  border-right: 1px black solid;
}
#message{
  animation-delay: 1s;
  height: 100px;
}
.green{
  color: green;
}
.red{
  color: brown;
}
.blue{
  color: royalblue
}