body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#board-container{
  display: flex;
  flex-flow: row wrap;
  width: 305px;
  height: 305px;
}

#board-container div{
  border: 1px black solid;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}